@import "../abstracts/variables";

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

    &--main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 45px;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    }

    &--secondary {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 18px;
        animation: moveInRight 3s ease-out;
    }
}